<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134441596546-qc198ail0cubh53j78mq44ocokqeruc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134441596546-qc198ail0cubh53j78mq44ocokqeruc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBMzYfR3EhtEDHFm2ivfxxIU-wDPLUIr7I</string>
	<key>GCM_SENDER_ID</key>
	<string>134441596546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vdc.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6d9c9</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6d9c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134441596546:ios:cc5fdd3ff52247a371269b</string>
</dict>
</plist>